%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'BookStuk', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search Books...", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Search
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Books', books_path
        - if current_user
          %li= link_to 'Dashboard', dashboard_path
          %li.dropdown
            %a.dropdown-toggle{:role => "button", "data-toggle" => "dropdown", "data-target" => "#"}
              %i.fa.fa-user
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => "presentation"}= link_to 'Settings', edit_user_registration_path
              %li{:role => "presentation"}= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Login', new_user_session_path
